<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1><a target="_blank" href="https://vuejs.org/v2/guide/list.html#v-for">List Rendering</a></h1>

    <div id="app">

        <ul>
            <li v-for="person in people">
                <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
            </li>
        </ul>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>

</body>
</html>